
// @function add($value1, $value2) {
//     @return $value1 + $value2;    
// }

@function add($values...) {
    $sum: 0;
    @each $val in $values {
        $sum: $sum + $val;
    }
    @return $sum;
}
.footer {
    font-size: add(25px, 60, 80);
}