// @mixin name {
//     color: red;
// }

// body {
//     @include name;
// }

// @mixin button {
//     display: inline-block;
//     padding: 1rem 2rem;
//     text-decoration: none;
// }

// .btn-succes {
//     @include button;
//     color: green;
//     background: #333;
// }

// @mixin example {
//     .button {
//         display: inline-block;
//         padding: 1rem 2rem;
//         text-decoration: none;
//     }
// }

// .block {
//     width: 500px;
//     height: 400px;
//     background: magenta;
//     @include example;
// }

@mixin button($color: #fff, $bg: blue) {
    display: inline-block;
    padding: 1rem 2rem;
    text: {
        decoration: none;
        transform: none;
    }
    color: $color;
    background-color: $bg;
}

.btn-succes {
    @include button(#fff, #000);
}

@mixin box() {
    .box {
        width: 100px;
        height: 100px;
        @content;
    }
}

@include box {
    background-color: red;

    &--primary {
        color: aqua;
    }
}

// .box {
//     width: 100px;
//     height: 100px;
//     background-color: red;
// }

// .box--primary {
//     width: 100px;
//     height: 100px;
//     background-color: red;
//     color: aqua;
// }

@mixin mq-small {
    @media only screen and (max-width: 600px) {
        @content;
    }
}

@mixin mq-medium {
    @media only screen and (max-width: 900px) {
        @content;
    }
}

@mixin mq-large {
    @media only screen and (min-width: 900px) {
        @content;
    }
}

@mixin mq-custom($size) {
    @media only screen and (max-width: $size) {
        @content;
    }
}

body {
    padding: 1rem;

    @include mq-small {
        background-color: red;
    }

    @include mq-medium {
        background-color: aqua;
    }

    @include mq-large {
        background-color: greenyellow;
    }

    @include mq-custom(1500px) {
        background-color: greenyellow;
    }
}